#root #certificates{
    position: relative;
}
#root #scroll-target-certificate{
    position: absolute;
    top: -10vh;
}
#root #certificates h1{
    text-align: center;
    padding: 5px;
    font-size: calc(5px + 7vmin);
    text-transform: uppercase;
    letter-spacing: calc(2px + 0.8vw);
}
#root #certificates hr{
    margin: 4vh 0;
}
#root #certificatesC{
    display: flex;
    justify-content: space-evenly;
    row-gap: 3vh;
    width: 70vw;
    flex-wrap: wrap;
}

