.certificate-container{
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, .6);
    border-radius: 10px;
}
.certificate{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 210px;
    height: 330px;
}
.certificate .img{
    width: 100%;
    flex: 6;
    border: none;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
}
.certificate .title{
    width: 100%;
    flex: 2;
    font-size:  calc(12px + 1.7vmin);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.certificate .title a{
    display: block;
    color: brown;
    margin-top: 5px;
    padding: 4px;
}
.certificate .title a:last-child{
    font-size:  calc(12px + 1.2vmin);
    margin-top: 2px;
    margin-bottom: 3px;
}
.certificate .description{
    width: 100%;
    flex: 2;
    padding: 10px;
    color: #fff;
    line-height: 3vh;
    font-size: calc(10px + 1.1vmin);
    text-align: center;
    padding: 5px;
}
